# package manager files
node_modules/

# built source files
src/

# built test files
spec/

# built package specific files
packages/mouse-trap/main.js
packages/mouse-trap/MouseTrap.js

packages/map-tools/MapView.js
packages/map-tools/extentRouter.js
