# NPM
node_modules

# Built packages
dist
*.tsbuildinfo
vite.config.js

# TypeScript compiled output (ignore .js files in packages with TypeScript source)
packages/utah-design-system/**/*.js
!packages/utah-design-system/src/**/*.jsx
packages/utilities/**/*.js
!packages/utilities/**/*.jsx

# Secrets
.env.development
.env.local

# MacOS
.DS_Store

# Firebase
firebase-debug.log
ui-debug.log
.firebase/

# storybook
pglite-debug.log
