@import "../bower_components/SpinKit/scss/spinners/2-double-bounce.scss";

$width: 30px;
.sk-double-bounce {
    margin: 0;
    width: $width;
    height: $width;
    &.hidden {
        visibility: hidden;
        display: none;
    }
    .sk-child {
        opacity: 0.2;
    }
}
